<button
  type="button"
  role="switch"
  class="theme-toggle"
  [class.is-dark]="isDark()"
  [attr.aria-checked]="isDark()"
  [attr.aria-label]="tooltip()"
  [matTooltip]="tooltip()"
  (click)="toggle()">
  <span class="theme-toggle__track">
    <mat-icon class="theme-toggle__icon theme-toggle__icon--sun" aria-hidden="true">light_mode</mat-icon>
    <mat-icon class="theme-toggle__icon theme-toggle__icon--moon" aria-hidden="true">dark_mode</mat-icon>
    <span class="theme-toggle__thumb"></span>
  </span>
</button>
