<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Enterprise App</span>
  <span class="spacer"></span>

  <app-theme-toggle></app-theme-toggle>

  <button mat-button [matMenuTriggerFor]="accountMenu" class="account-button">
    <mat-icon class="mr-8">account_circle</mat-icon>
    <span>{{ authService.displayName() }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>verified_user</mat-icon>
      <span>Signed in via {{ authService.idp() }}</span>
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="isMobile() ? false : sidenavOpen()"
    (openedChange)="onSidenavOpenedChange($event)"
    class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="closeSidenavIfMobile()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/models" routerLinkActive="active-link" (click)="closeSidenavIfMobile()">
        <mat-icon matListItemIcon>science</mat-icon>
        <span matListItemTitle>Models</span>
      </a>
      <a mat-list-item routerLink="/runs" routerLinkActive="active-link" (click)="closeSidenavIfMobile()">
        <mat-icon matListItemIcon>play_circle</mat-icon>
        <span matListItemTitle>Runs</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
